/* App.css */
body {
  background-color: black; /* Set background to black */
  color: white; /* Set text color to white for contrast */
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.6); /* Optional: to make header text more readable */
  color: white;
  padding: 20px;
}

.Weather {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
}

.Weather h2 {
  font-size: 24px;
}